.con_alert {
    position: fixed;
    width: 300px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.con_confirm {
    position: fixed;
    width: 320px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._alert {
    box-sizing: border-box;
    width: auto;
    max-width: 260px;
    display: flex;
    min-height: 40px;
    align-items: center;
    border-radius: 5px;
    border-left: 10px solid;
    padding: 5px;
    word-break: break-word;
}

.confirm {
    box-sizing: border-box;
    width: 290px;
    height: 160px;
    border-radius: 5px;
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.88);
    overflow: hidden;
}

.prompt {
    box-sizing: border-box;
    width: 290px;
    height: 200px;
    border-radius: 5px;
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.88);
    overflow: hidden;
}

.head_confirm {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body_confirm {
    width: 100%;
    height: 130px;
}

.body_prompt {
    width: 100%;
    height: 170px;
}

.input_pormpt {
    box-sizing: border-box;
    display: block;
    width: 80%;
    height: 25px;
    border: 0;
    margin: 0 auto;
    margin-top: 15px;
    border-bottom: 1px solid #505050;
    background: transparent;
    outline: 0;
    font-size: 18px;
}

._alertx {
    box-sizing: border-box;
    width: auto;
    max-height: 63px;
    border-radius: 35px;
    padding: 5px;
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.88);
    transition: max-width 1s;
    overflow: hidden;
    animation: alertx 1s ease-in-out 0s 1 normal forwards;
}

._alertz {
    box-sizing: border-box;
    width: 290px;
    height: 70px;
    border-radius: 5px;
    padding: 5px;
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.88);
    overflow: hidden;
}

.x_con_icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x_con_icon span {
    animation: ico_alertx 1s ease-in-out 0s 1 normal forwards;
    font-size: 36px;
}

._x_danger {
    background-color: #e7bdc1;
    color: red;
}

._tit_danger {
    color: red;
}

._x_primary {
    background-color: #cee2f7;
    color: deepskyblue;
}

._tit_primary {
    color: deepskyblue;
}

._x_success {
    background-color: #d4edda;
    color: limegreen;
}

._tit_success {
    color: limegreen;
}

.con_text_confirm {
    width: 100%;
    height: 60px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    padding: 5px;
}

.con_btn_confirm {
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

._x_warning {
    background-color: #ffeeba;
    color: rgb(255, 145, 0);
}

._tit_warning {
    color: rgb(255, 145, 0);
}

._body_txt {
    margin: 0px 5px;
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

._body_context {
    height: 20px;
    font-size: 16px;
    overflow: hidden;
}

._head_title {
    height: 30px;
    font-size: 18px;
    font-weight: bolder;
    overflow: hidden;
}

._con_close_icon {
    width: 35px;
    height: 55px;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_confirm {
    display: flex;
    align-items: center;
}

.statusicon_confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-left: 5px;
}

.titletext_confirm {
    font-size: 18px;
    margin-left: 5px;
    height: 23px;
    overflow: hidden;
}

._alertTxt {
    flex: 10;
}

._alertClose {
    text-align: center;
    flex: 2;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

._alertDark {
    background-color: rgba(0, 0, 0, 0.88);
    color: #fff;
}

._alertLight {
    background-color: rgba(255, 255, 255, 0.90);
    color: #000;
}

._closeDark {
    color: #bbb;
}

._closeDark:hover {
    color: #ddd;
}

._closeLight {
    color: #303030;
}

._closeLight:hover {
    color: #000;
}

._alertDanger {
    border-color: rgb(255, 0, 0);
}

._alertWarning {
    border-color: rgb(255, 145, 0);
}

._alertSuccess {
    border-color: rgb(0, 255, 0);
}

._alertPrimary {
    border-color: rgb(0, 191, 255);
}

._topLeft {
    top: 10px;
    left: 10px;
}

._centerLeft {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

._bottomLeft {
    bottom: 10px;
    left: 10px;
}

._topCenter {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

._center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

._bottomCenter {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

._topRight {
    top: 10px;
    right: 10px;
}

._centerRight {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

._bottomRight {
    bottom: 10px;
    right: 10px;
}

.showExpend {
    overflow: visible !important;
    height: auto !important;
    max-height: none !important;
}

._head_alertz {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.con_zstatus_icon {
    margin: 0px 5px;
}

.z_head_title {
    width: 220px;
    height: 26px;
    font-size: 18px;
    font-weight: bolder;
    overflow: hidden;
}

.context {
    height: 20px;
    margin: 0px 35px;
    overflow: hidden;
}

._z_danger {
    color: red;
}

._z_primary {
    color: deepskyblue;
}

._z_success {
    color: limegreen;
}

._z_warning {
    color: rgb(255, 145, 0);
}

.con_btn_confirm button {
    margin: 10px;
    width: 100px;
    height: 38px;
    border-radius: 20px;
    border: 0;
    font-size: 16px;
    line-height: 35px;
    font-weight: 600;
    overflow: hidden;
}

.confirm_btn {
    color: #fff;
}

.cancel_btn {
    color: #fff;
}

@keyframes alertx {
    0% {
        width: 65px;
        max-width: 65px;
        transform: translateX(100px);
    }

    100% {
        width: 300px;
        max-width: 300px;
        transform: translateX(0px);
    }
}

@keyframes ico_alertx {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

/* background-color: limegreen;
color: #fff;
box-shadow: 0px 0px 5px limegreen; */
